<div ng-controller="LandingCtrl">
    <div class="row">
        <!--response col stuff here??-->
        <div class="col-lg-offset-3 col-lg-6">
            <div class="landing-contain">
                <h1>{{device.name}}</h1>
                <hr />


            </div>
        </div>
    </div>
    <div class="row">
        <!--response col stuff here??-->
        <div class="col-lg-offset-3 col-lg-6">
            <div class="landing-body-contain">

            </div>
        </div>
    </div>
</div>