
/*header*/
.header-contain {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    margin: 6% 0 0;
}

.header-contain p {
    font-size:20px;
}

.header-contain label {
    display:block;
}

.header-contain form {
    margin-top:5%;
}

.header-contain input {
    width:45%;
    display:inline-block;
}

.header-contain hr {
    margin-bottom:0;
}
/*body*/
.body-contain {
    background-color: rgb(245, 245, 245);
    padding-left: 3%;
    overflow-y:scroll;
    max-height: 600px;
}

.body-contain p {
    font-size:15px;
    display:inline-block;
}

.body-contain button {
    margin-right:3%;
}

.body-contain li {
    display:block;
    margin-bottom:5%;
    border-bottom: 1px solid #eeeeee;
}
