<div ng-controller="LoginCtrl">
    <div class="row">
        <!--response col stuff here??-->
        <div class="col-lg-offset-3 col-lg-6">
            <div class="login-contain">
                <h1>Self-C-Cure</h1>
                <hr />

                <form role="form">

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input autofocus type="email" class="form-control" id="inputEmail" placeholder="Enter email" ng-model="user.email">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
                    </div>
                    <div class="form-group" ng-init="createAccount=false" data-ng-show="createAccount">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" ng-model="meta.confirmPass">
                    </div>
                    <hr/>
                    <div class="login-submit-wrap">
                        <button type="submit" class="btn btn-primary" ng-click="login()" ng-hide="createAccount">Sign In <i class="glyphicon glyphicon-log-in"></i></button>
                        <button type="submit" class="btn btn-primary" ng-click="createAccountFields()" ng-hide="createAccount">CreateAccount<i class="glyphicon glyphicon-log-in"></i></button>
                        <button type="submit" class="btn btn-success" ng-click="createAcc()" ng-show="createAccount">Confirm</button>
                        <button type="button" class="btn btn-{{swag.createAccBtn}}" ng-click="createAccountFields()" ng-show="createAccount">Cancel</button>
                    </div>
                    {{meta.error}}
                </form>
            </div>
        </div>
    </div>
</div>
